<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :email %><br />
=======
    <%= f.label :"メールアドレス" %><br />
>>>>>>> ac66dd36a2730c9829d960ddcef508e076f6603f
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
<<<<<<< HEAD
    <%= f.submit "Resend unlock instructions" %>
=======
    <%= f.submit "ロック解除" %>
>>>>>>> ac66dd36a2730c9829d960ddcef508e076f6603f
  </div>
<% end %>

<%= render "devise/shared/links" %>
